*{box-sizing: border-box; line-height:1.3;}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {display: block;}
html, body, div,  p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ol, ul, li, blockquote, pre, button, fieldset, form, legend,table, caption, tbody, tfoot, thead, tr, th, td, iframe, article, aside, canvas, details, embed, textarea, figure, figcaption, header, footer, main, menu, nav, section, summary, audio, video, template {margin: 0;padding: 0;border: 0;font-size: inherit;font-family: inherit;vertical-align: baseline;box-sizing: border-box;word-break: keep-all;}
a,a:active,a:hover,a:link,a:visited{text-decoration:none}
ul, ul>li,ol, ol>li{list-style:none;}
button {cursor: pointer;}
.skip {font-size:0; position:absolute; z-index:-999;}


$darkcolor : #000;
$lightcolor : #fff;
$bordercolor : 1px solid #ddd;
$bordercolor2 : 1px solid rgba(255,255,255,.1);
$basicSpace :2rem 0;


html {font-size:10px;}
i {margin-top:.4rem;}
.App.light {background:$lightcolor;}
.App.dark {background:#191919;}
.layout {width:100%; max-width:140rem; margin:0 auto;}

#header {display:flex; justify-content:space-between ; height:7rem;  border-bottom:$bordercolor;
    .leftUtil {display:flex; height: 100%; align-items:center;}
    .menu {display:inline-block; width:7rem; text-align:center; font-size:2.5rem; color:$darkcolor;}
    .menu button {width:100%; height:7rem;background:transparent; transition:all 0.3s; -webkit-transition:all 0.3s;}
    .logo {display:inline-block;width:10rem;}
    .logo a {display:block; width:100%;}

    .search {position:relative; align-self:center; width:60rem; height:4rem;  
        .openBtn {display:none; }
        .inner {width:100%; height:100%;}
        .form {position:relative; width:100%; height:100%; border:$bordercolor; }
        .closeBtn {display:none;}
        input {width:calc(100% - 4rem);height: 100%; padding:0 2rem; border:none; background: transparent; font-size:1.5rem; color:$darkcolor;}
        .searchBtn {position:absolute; right:0; top:0; width:4rem; height:100%; background:#fff; font-size:2rem; cursor:pointer;}
    }

    .righttUtil {align-self:center; padding-right:2rem;
        button {margin:0 .5rem; padding:.5rem 1rem; border:$bordercolor; background:transparent; color:$darkcolor; font-size:1.4rem; transition:all 0.3s; -webkit-transition:all 0.3s;}
        button:hover,button:focus {background:#eee;}
        button i {margin-right:.3rem;}
        
    }

    .fixmenu {position:fixed; left:0; top:0; z-index:10; width:7rem; height:100vh; background:$lightcolor;
        ul {width:100%;}
        ul li {width:100%;}
        button {width:100%; height:7rem;background:$lightcolor; color:$darkcolor; font-size:1.2rem; transition:all 0.3s; -webkit-transition:all 0.3s;}
        li:not(:first-child) button:hover,
        li:not(:first-child) button:focus {background:#eee;}
        button i {font-size:2.5rem; }
        svg {width:2.4rem;}
        span {display:block; }
    }
}
.App.dark #header { border-bottom:$bordercolor2;
    .menu,
    .menu button {color:$lightcolor;}
    .search {  
        .form {border:$bordercolor2;}
        input {color:$lightcolor;}
        .searchBtn {background:rgba(255,255,255,.1); color:$lightcolor;}
    }
    #youtube-paths path {fill:$lightcolor;}
    .righttUtil {
        button {border:$bordercolor2;color:$lightcolor;}
        button:hover,button:focus {background:rgba(255,255,255,.1);}
    }

    .fixmenu {background:#191919;
        button {background:#191919; color:$lightcolor;}
        li:not(:first-child) button:hover,
        li:not(:first-child) button:focus {background:rgba(255,255,255,.1);}
        svg path {fill:$lightcolor; }
    }
}

.video {
    padding:2rem 2rem 2rem 9rem; 
    ul {display:flex; flex-wrap:wrap; margin:0 -1rem;}
    li {width:calc(16.66% - 2rem); margin:0 1rem 2rem;}
    li a {display:block; width:100%; color:$darkcolor;}
    img {width:100%;}
    .thumb {position:relative;}
    .thumb:before {display:block; opacity:0; position:absolute; left:0; top:0; content:''; width:100%; height:100%; background:rgba(0,0,0,.7); transition:all 0.3s; -webkit-transition:all 0.3s;}
    .thumb span {display:block;opacity:0; position:absolute; left:50%; top:50%; font-size:1.5rem; color:#fff; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); transition:all 0.3s; -webkit-transition:all 0.3s; }
    li a:hover .thumb:before,
    li a:focus .thumb:before,
    li a:hover .thumb span,
    li a:focus .thumb span {opacity: 1;}
    .info {height:12.4rem;padding:1rem 1rem 0;}
    strong {display: block;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;max-height:47px;font-size:1.8rem;text-overflow: ellipsis;white-space: normal;}
    p {opacity:.8;margin:.5rem 0 0; font-size:1.4rem;}
    p span {display:inline-block; }
    p span:last-child::before {display:inline-block;opacity:.8; width:3px; height:3px; margin:-0.3rem .8rem 0; border-radius:50%; background:$darkcolor;content:''; vertical-align:middle;}
}

.App.dark .video {
    li a {color:$lightcolor;}
    p span:last-child::before {background:$lightcolor;}
}

.detail { display:flex; flex-wrap: wrap; padding:$basicSpace; color:$darkcolor;
    .detail-left {width:calc(100% - 40rem); padding-right:4rem;
        iframe {width:100%; height:48rem;}
        .info { padding:$basicSpace; border-bottom:$bordercolor; 
            strong {display: block;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;max-height:47px; margin:0 0 2rem; font-size:1.8rem;text-overflow: ellipsis;white-space: normal;}
            p {opacity:.8;margin:.5rem 0 0; font-size:1.5rem;}
            p span {display:inline-block; }
            p span:last-child::before {display:inline-block;opacity:.8; width:3px; height:3px; margin:-0.3rem .8rem 0; border-radius:50%; background:$darkcolor;content:''; vertical-align:middle;}
        }
    }
    
    .detail-right {width:40rem;}
}

.App.dark .detail { color:$lightcolor;
    .detail-left{
        .info {border-bottom:$bordercolor2;
            p span:last-child::before {background:$lightcolor;}
        }
    }

}
.channel { position:relative; padding:$basicSpace 2rem 7rem; border-bottom:$bordercolor;  
    .thumb {overflow:hidden; position:absolute; left:0; top:2rem; width:5rem; height:5rem; border-radius:50%;}
    .thumb img {width:100%;}
    strong {display:block; margin:1rem 0 2rem; font-size:1.5rem;}
    .content.more {overflow:hidden;max-height:6rem; }
    .content.moreActive {height:auto;}
    pre {font-size:1.5rem;white-space: pre-wrap; }
    button {opacity:0.5; margin:$basicSpace 0; background:none; font-size:1.5rem; cursor: pointer; color:$darkcolor;}

}
.App.dark .channel {border-bottom:$bordercolor2; 
    button {color:$lightcolor;}
}

.comment { padding:$basicSpace;
    .tit {margin:0 0 2rem; font-weight:bold; font-size:1.5rem;}
    li {position:relative; margin:0 0 4rem; padding-left:6rem;}
    li img {overflow: hidden; position:absolute;left:0; top:0rem; width:4rem; height:4rem; border-radius:50%;}
    li strong {display:block; margin:0 0 .5rem; font-size:1.4rem; font-weight:normal;}
    li strong span {opacity: 0.6; margin-left:.5rem; font-size:1.2rem;}
    pre {font-size:1.4rem; white-space: pre-wrap; }
    p {margin:1rem 0 0; font-size:1.4rem;}
    p i {margin-right:0.5rem;}

}

.videoList {padding:0 0 2rem;
    li {margin:0 0 2rem;}
    li a {display:flex; flex-wrap: wrap; color:$darkcolor;}
    .thumb {position:relative;width:45%;}
    .thumb img {width:100%;}
    .thumb:before {display:block; opacity:0; position:absolute; left:0; top:0; content:''; width:100%; height:100%; background:rgba(0,0,0,.7); transition:all 0.3s; -webkit-transition:all 0.3s;}
    .thumb span {display:block;opacity:0; position:absolute; left:50%; top:50%; font-size:1.3rem; color:#fff; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); transition:all 0.3s; -webkit-transition:all 0.3s; }
    li a:hover .thumb:before,
    li a:focus .thumb:before,
    li a:hover .thumb span,
    li a:focus .thumb span {opacity: 1;}
    .info {width:55%; padding:1rem 0 0 1rem;}
    .info strong {display: block;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;max-height:34px;font-size:1.3rem;text-overflow: ellipsis;white-space: normal;}
    .info p {margin:.5rem 0 0; font-size:1.2rem;}
}

.btn { width:100%;padding:5rem 0; border-top:$bordercolor; text-align:center;
    a {display:inline-block; font-size:1.5rem; color:$darkcolor;}
}

.App.dark .videoList {
    li a {color:$lightcolor;}
}
.App.dark .btn { border-top:$bordercolor2;
    a {color:$lightcolor;}
}

@media(max-width:1579px){
    .layout {padding:2rem;}
    #header {
        .fixmenu {display:none;}
    }
    .detail {
        .detail-left {width:calc(100% - 35rem); padding-right:3rem;}
        
        .detail-right {width:35rem;}
    }
    .video {padding:2rem;
        li {width:calc(20% - 2rem);}
        .info {height:10rem;}
    }
}

@media(max-width:1199px){
    
    .detail {
        .detail-left {
            iframe {height:40rem;}
        }
    }

    .video {
        li {width:calc(25% - 2rem);}
    }
    

}

@media(max-width:1023px){
    #header {
        .search {width:calc(100% - 40rem);}
    }
    .detail {
        .detail-left {width:100%; padding:0;}
        .detail-right {width:100%; padding:2rem 0 0; border-top:$bordercolor; }
    }

    .App.dark .detail {
        .detail-right {border-top:$bordercolor2; }
    }

    .videoList {
        .thumb {width:20rem;}
        .info {width:calc(100% - 20rem);}
    }

    .video {
        li {width:calc(33.33% - 2rem);}
    }
}

@media(max-width:767px){
    #header {
        .righttUtil {
            button {width:4rem; height:4rem; padding:0; border-radius:50%; font-size:0; text-align:center;}
            button i {margin:0; line-height:3rem; font-size:1.8rem;}
        }
        .search {width:calc(100% - 30rem);}
    }

    .detail {
        .detail-left {
            iframe {height:35rem;}
        }
    }

    .videoList {
        .thumb {width:15rem;}
        .info {width:calc(100% - 15rem);}
    }

    .video {
        li {width:calc(50% - 2rem);}
        strong {font-size:1.6rem;}
    }
}

@media(max-width:640px){
    #header{
        .search { position:absolute; right:7rem; top:1.5rem; width:auto;
            .openBtn {display:block; width:4rem; height:4rem; border:$bordercolor; border-radius:50%; background:transparent; font-size:1.8rem; transition:all 0.3s; -webkit-transition:all 0.3s;}
            .openBtn:hover,.openBtn:focus {background:#eee;}
            .inner {display:none;}
            .inner .closeBtn {display:block; position:absolute; right:2rem; top:2rem; background:none; font-size:4rem; color:#fff;}
            .form {position:relative; top:30%; width:100%; height:6rem; padding:0 2rem; border:none;}
            input {width:100%; padding-right:6rem; border:2px solid #fff; color:#fff; font-size:1.8rem;}
            .searchBtn {right:2rem; top:0; width:6rem; height:6rem;font-size:2.8rem;}
        }

        .search.open {
            .inner {display:block; position:fixed; left:0; top:0; z-index:10; width:100vw; height:100vh; background:rgba(0,0,0,.9);}
        }
    }

    .App.dark #header {
        .search {
            .openBtn {border:$bordercolor2; color:$lightcolor;}
            .openBtn:hover,.openBtn:focus {background:rgba(255,255,255,.1);}
            .searchBtn {background:none;}
        }
    }
}

@media(max-width:450px){
    .detail {
        .detail-left {
            iframe {height:25rem;}
        }
    }
    .video {
        li {width:calc(100% - 2rem);}
    }
}